*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 30px;
  height: 100vh;
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  background-color: blueviolet;
  height: 150px;
  width: 700px;
  overflow-y: auto;
  overflow-x: auto;

  cursor: pointer;
}
