body {
  height: 3000px;
  padding-top: 60px;
  padding-left: 80px;
}

x-absolute {
  position: absolute;
  right: 0;
  top: 0;

  background-color: red;
  color: white;
}

.div-1 {
  background-color: lightblue;
  width: 200px;
  height: 200px;
  position: static;
}

.div-2 {
  background-color: black;
  color: white;
  height: 200px;
  width: 200px;

  position: relative;
  bottom: 10px;
  right: 10px;
}

.header {
  background-color: black;
  color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  bottom: 100px;

  z-index: 100;
}

.sidebar {
  background-color: green;
  color: white;

  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 72px;
}
