@import url('../css/main.css');

.controlling-size img.large {
  width: 30rem;
  height: 30rem;
}

.controlling-size img.medium {
  width: 15rem;
  height: 15rem;
}

.controlling-size img.small {
  width: 5rem;
  height: 5rem;
}

.align-images .container {
  display: flex;
  align-items: center;
}

.align-images img {
  margin-right: 2rem;
}

.centering-images img {
  display: block;
  margin: 2rem auto;
}

.centering-images .imgSecond {
  width: 45rem;
  height: auto;
}

/* p{
  color: blue;
} */

.background-images {
  background-color: orange;
  color: #0f1319;
}

.background-images .lazy-background {
  background-image: url('../../assets/images/DSC07124.jpg'); /* Placeholder image */
}

.background-images .lazy-background.visible {
  background-image: url('../../assets/images/Sticker_Mushroom_-_Mario_Party_Superstars.webp');
  /* height: 100%; */
  /* width: 100%; */
}

.repeating-images article {
  height: 8rem;
  width: auto;
  overflow-y:scroll;
  background-image: url(
    'https://static-s.aa-cdn.net/img/gp/20600006954124/zAT6vC26PAVD3Nsjasyir-n4NcvUqQ6PoQtHib7wUXE3ZMrMvXeCl9XNMJrjKYhfl8s?v=1'
    );
  /* background-repeat: repeat-x; */
  background-attachment: scroll;
}

.background-position article {
  background-image: url(
    'https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/4d/2c/53/4d2c532e-813d-14d2-6c5f-7fa95b1c5ef8/source/256x256bb.jpg'
    );
    background-repeat:repeat-x;
    background-position: 50% 50%;
}