@import url('../css/main.css');

.controlling-size img.large {
  width: 30rem;
  height: 30rem;
}

.controlling-size img.medium {
  width: 15rem;
  height: 15rem;
}

.controlling-size img.small {
  width: 5rem;
  height: 5rem;
}

.align-images .container {
  display: flex;
  align-items: center;
}

.align-images img {
  margin-right: 2rem;
}

.centering-images img {
  display: block;
  margin: 2rem auto;
}

.centering-images .imgSecond {
  width: 45rem;
  height: auto;
}

/* p{
  color: blue;
} */

.background-images {
  background-color: orange;
  color: #0f1319;
}

.background-images .lazy-background {
  background-image: url('../../assets/images/DSC07124.jpg');
  /* Placeholder image */
}

.background-images .lazy-background.visible {
  background-image: url('../../assets/images/Sticker_Mushroom_-_Mario_Party_Superstars.webp');
  /* height: 100%; */
  /* width: 100%; */
}

.repeating-images article {
  height: 8rem;
  width: auto;
  overflow-y: scroll;
  background-image: url('https://static-s.aa-cdn.net/img/gp/20600006954124/zAT6vC26PAVD3Nsjasyir-n4NcvUqQ6PoQtHib7wUXE3ZMrMvXeCl9XNMJrjKYhfl8s?v=1'
    );
  /* background-repeat: repeat-x; */
  background-attachment: fixed;
}

.background-position article {
  background-image: url('https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/4d/2c/53/4d2c532e-813d-14d2-6c5f-7fa95b1c5ef8/source/256x256bb.jpg'
    );
  background-repeat: repeat-x;
  background-position: 50% 50%;
}

.shorthand article {
  /* background: background-color background-image background-repeat background-attachment background-position */
  background: #fff url('https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/4d/2c/53/4d2c532e-813d-14d2-6c5f-7fa95b1c5ef8/source/256x256bb.jpg') no-repeat top left,
    #fff url('../../assets/images/star.jfif') no-repeat top right;
}

.image-rollovers article>a.button {
  height: 36px;
  background-image: url("https://www.htmlandcssbook.com/code-samples/chapter-16/images/button-sprite.jpg");
  text-indent: -9999px;
  display: inline-block;
}

.image-rollovers article>a#add-to-basket {
  width: 174px;
  background-position: 0px 0px;
}

.image-rollovers article>a#framing-options {
  width: 210px;
  background-position: -175px 0px;
}

.image-rollovers article>a#add-to-basket:hover {
  background-position: 0px -40px;
}

.image-rollovers article>a#framing-options:hover {
  background-position: -175px -40px;
}

.image-rollovers article>a#add-to-basket:active {
  background-position: 0px -80px;
}

.image-rollovers article>a#framing-options:active {
  background-position: -175px -80px;
}

.gradients article:nth-of-type(1) {
  height: 20vh;
  background: linear-gradient(40deg, teal, purple)
}

.gradients article:nth-of-type(2) {
  height: 20vh;
  background: repeating-conic-gradient(blue 14%, yellow 15%, red 33%);
}

.gradients article:nth-of-type(2) .stacked-linear {
  background:
    linear-gradient(200deg, rgba(255, 174, 188, 0.8), transparent),
    linear-gradient (100deg, rgba(255, 174, 188, 0.8), transparent),
    linear-gradient (300deg, rgba(255, 174, 188, 0.8), transparent);
}

.gradients article:nth-of-type(2) .stacked-radial {
  background:
    radial-gradient(circle at center, rgba(255, 174, 188, 0.8), transparent),
    radial-gradient(circle at bottom, rgba(160, 231, 229, 0.8), transparent),
    radial-gradient(circle at top, rgba(180, 248, 200, 0.8), transparent);
}

.gradients article:nth-of-type(2) .photo-gradient {}

.gradients article:nth-of-type(3) div {
  width: 25rem;
  height: 25rem;
  border: 0.1rem solid #000;
  display: inline-block;
  margin: 3rem;
}

.gradients article:nth-of-type(3) .linear-gradient {
  background: linear-gradient(45deg, #0000ff 0 50%, #008000 50% 100%);
}

/* starts from center going outward */
.gradients article:nth-of-type(3) .radial-gradient {
  background: radial-gradient(circle at top left, #800080 0 40%, transparent 0 40%),
    radial-gradient(circle at bottom right, #008000 0 40%, #ffff00 40% 100%),
  ;
}

.gradients article:nth-of-type(3) .repeating-radial-gradient {
  background:
   repeating-radial-gradient(circle at top left, #800080 0 1rem, #0000ff 1rem 4.5rem, #ee82ee 4.5rem 5.5rem);
}

/* goes around in a circle */
.gradients article:nth-of-type(3) .conic-gradient {
  background:
   conic-gradient(from 90deg, #ffa500 0 50deg, #000000 50deg 135deg, #008000 135deg 280deg, #ffff00 280deg 360deg);
  border-radius: 50%;
}

.gradients article:nth-of-type(3) .repeating-conic-gradient {
  background: repeating-conic-gradient(at top left, #ff0000 0 15deg, #0000ff 15deg 25deg, #008000 25deg 40deg);
  border-radius: 50%;
}