*,
body::before,
body::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding-top: 1.5rem;
  padding-left: 1.25rem;
  font-size: 1.6rem;
}

li {
  padding-bottom: 0.9rem;
}

.chapters {
  list-style-type: decimal;
  padding-left: 1em;
}
