*,
body::before,
body::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.foods {
  padding-left: 4rem;
  margin: 1em 0;
}

.pastries {
  padding-left: 4rem;
}

.danish {
  padding-left: 4rem;
}

.cake {
  padding-left: 4rem;
}

.ice-cream {
  padding-left: 4rem;
}

footer {
  margin-top: 90rem;
}
