.foods {
  padding-left: 4rem;
  margin: 1em 0;
}

.pastries {
  padding-left: 4rem;
}

.danish {
  padding-left: 4rem;
}

.cake {
  padding-left: 4rem;
}

.ice-cream {
  padding-left: 4rem;
}

footer {
  margin-top: 90rem;
}
