@font-face {
  font-family: "blueberry-days";
  src: url("../../fonts/blueberry_days/blueberry_days.otf"), url("../../fonts/blueberry_days/blueberry_days.ttf");
}

*,
body::before,
body::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0.8rem;
  padding-top: 8px;
}

h1 {
  margin: 2.144rem 0rem;
  font-family: Impact, Haettenschweiler, fantasy;
  text-transform: capitalize;
}

.first-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: medium;
  font-style: oblique 60deg;
  font-stretch: condensed;
  padding-top: 2em;
  text-align: left;
  vertical-align: baseline;
}

.second-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: bold;
  font-stretch: condensed;
  padding-top: 2em;
  text-transform: uppercase;
  line-height: 1.4em;
  word-spacing: 0.05em;
  letter-spacing: 0.075em;
  text-align: right;
  vertical-align: middle;
}

.third-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: medium;
  font-style: oblique 60deg;
  font-stretch: condensed;
  padding-top: 2em;
  text-align: center;
  vertical-align: super;
}

.fourth-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: medium;
  font-style: oblique 60deg;
  font-stretch: condensed;
  padding-top: 2em;
  text-align: justify;
}

img {
  width: 10rem;
  height: auto;
}

.text-top {
  vertical-align: text-top;
}

.text-middle {
  vertical-align: middle;
}

.text-middle+span {
  padding-top: 12em;
}

.text-bottom {
  vertical-align: text-bottom;
}