@font-face {
  font-family: 'blueberry-days';
  src: url('../../fonts/blueberry_days/blueberry_days.otf'), url('../../fonts/blueberry_days/blueberry_days.ttf');
}

body {
  font-family: 'blueberry-days', Georgia, 'Times New Roman', serif;
}

h1 {
  margin: 2.144rem 0rem;
  font-family: Impact, Haettenschweiler, fantasy;
  text-transform: capitalize;
}

.first-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: medium;
  font-style: oblique 60deg;
  font-stretch: condensed;
  padding-top: 2em;
  text-align: left;
  vertical-align: baseline;
}

.second-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: bold;
  font-stretch: condensed;
  padding-top: 2em;
  text-transform: uppercase;
  line-height: 1.4em;
  word-spacing: 0.05em;
  letter-spacing: 0.075em;
  text-align: right;
  vertical-align: middle;
}

.third-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: medium;
  font-style: oblique 60deg;
  font-stretch: condensed;
  padding-top: 2em;
  text-align: center;
  vertical-align: super;
}

.fourth-paragraph {
  margin: 1.6rem 0;
  font-family: monospace;
  font-weight: medium;
  font-style: oblique 60deg;
  font-stretch: condensed;
  padding-top: 2em;
  text-align: justify;
}

img {
  width: 10rem;
  height: auto;
}

.text-top {
  vertical-align: text-top;
}

.text-middle {
  vertical-align: middle;
}

.text-middle + span {
  padding-top: 12em;
}

.text-bottom {
  vertical-align: text-bottom;
}

.indenting-text > .indent {
  margin: 3rem;

  /* Will indent the margin of the entire body of text (The negative value will offset the margin relative to the 
   specified parent <body> margin above) */
  margin-left: -0.5em;

  /* Will indent only the first line of text */
  text-indent: 2rem;
}

.indenting-text > .hidden-header {
  background-image: url('../../assets/images/product/mesh_immut.webp');
  background-repeat: no-repeat;
  width: 70rem;
  height: 60rem;

  /* We still want the heading on the page (for search engines and accessibility) but we push the text off the screen since it will be unreadable if layered over/under the image. */
  text-indent: -9999px;
}

.drop-shadow > .s1 {
  /* text shadow: xPos yPos blurAmount color */
  text-shadow: 0.1rem 0.1rem 0.2rem #666;

  color: #6c33eb;
}

.drop-shadow > .s2 {
  color: #fff;
  background-color: #ecb2bc;
  padding: 6rem;
  text-shadow: -1rem 1rem 0 #f2aabd, -2rem 2rem 0 #ec7b99, -3rem 3rem 0 #dd557a;
  font-size: 10rem;
}

.drop-shadow > .s3 {
  color: #fff;
  background-color: #f19353;
  font-size: 8rem;
  padding: 4rem;
  text-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.4), 0 0.8rem 1.7rem rgba(0, 0, 0, 0.1), 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
}

.first-letter > p::first-letter {
  color: #ff0000;
  font-weight: bold;
}

.first-letter > p:nth-of-type(2)::before {
  content: 'Hey, you! ';
}

.first-letter > p:nth-of-type(3)::after {
  content: " Something free? Hey, you! Are you trying to be mean?
 If you live with apes man, it's hard to be clean The worms will live in every host It's hard to pick which one they eat the most The horrible people, the horrible people It's as anatomic as the size of your steeple Capitalism has made it this way Old-fashioned fascism will take it away";
}

.first-letter > p:nth-of-type(3)::first-line {
  color: blue;
}

.styling-links a:link {
  text-decoration: none;
  cursor: pointer;
  color: hsl(240, 100%, 50%);
}

.styling-links a:visited {
  color: hsl(300, 100%, 25%);
}

/* :focus psuedo-class will take effect when the element is selected by tabbing over it */
.styling-links a:hover,
.styling-links a:focus {
  color: hsla(210, 100%, 56%, 0.4);
}

.styling-links a:active {
  color: hsl(0, 100%, 50%);
}

.styling-links > .btn {
  padding: 1em 3em;
  border-radius: 3em;
  background: #fff;
  border: 0.1rem solid currentColor;
  box-shadow: 0 0 2.5rem -1rem currentColor;
  transition: transform 125ms ease-in;
  cursor: pointer;
}

.styling-links > .btn-one {
  color: red;
}

.styling-links > .btn-two {
  color: blue;
}

.styling-links > .btn-three {
  color: green;
}

.styling-links > .btn-four {
  color: #cfcf30;
}

.styling-links > .btn:hover,
.styling-links > .btn:focus {
  transform: scale(1.2);
}

@supports selector(:focus-visible) {
  .styling-links > .btn:focus {
    transform: none;
  }

  .styling-links > .btn:hover,
  .styling-links > .btn:focus-visible {
    transform: scale(1.2);
  }

  .styling-links > .btn:focus-visible {
    /* color of focus-outline will change automatically to contrast background */
    outline-offset: 0.5rem;
    transform: scale(1.2);
  }
}

.attribute-selectors a[class] {
  font-size: 1.8rem;
}

.attribute-selectors > a[href="https://youtube.com"]
{
  color: hsl(0, 100%, 50%);
  text-transform: uppercase;
}

.attribute-selectors a[class*='cat'][alt^='a cat'] {
  color: purple;
  text-decoration: none;
}

.attribute-selectors a[class~='animal'] {
  color: hsla(210, 100%, 56%, 0.4);
  text-transform: uppercase;
}

.attribute-selectors a[class$='1'] {
  color: green;
  text-transform: capitalize;
}
