.ripple {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: rgb(42, 42, 42);
}

.ripple .wave {
  position: absolute;
  border-radius: 50%;
  animation: ripple-animation 1s ease-in infinite;
}

/* ripple animation */
@keyframes ripple-animation {
  from {
    background-color: rgb(42, 42, 42);
  }
  to {
    background-color: auto;
  }
}

.hosted-video {
  width: 40%;
}

#gameplay {
  font-style: italic;
}

.endless-runner {
  width: 70rem;
  height: 50.5rem;
}
